# Server Configuration
SERVER_DOMAIN=https://photocards.saifullahmnsur.dev
PORT=8000

# Database Configuration
MONGO_URI=mongodb://localhost:27017

# Security & Admin Permissions
ADMIN_SECRET_KEY=photocards_super_secret_key_2026